body {
    background-color: rgb(170, 165, 165);
}

header {
    max-width: 920px;
    background-color: rgb(233, 225, 225);
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Futura;
}

main {
    max-width: 920px;
    background-color: rgb(233, 225, 225);
    margin: auto;
     display: flex;
    justify-content: space-around;
    font-family: Arial, Futura;
}

footer {
    max-width: 920px;
    background-color: rgb(233, 225, 225);
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Futura;
    text-align: center;
}

aside {
    flex: 1;
}

article {
    flex: 1; 
}

section {
    text-align: center;
    flex: 1;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

p {
    margin: 15px;
    text-indent: 10px;
}

.blockseparator {
    max-width: 920px;
    margin: auto;
}

a {
    text-decoration: none;
}

.foto {
   
    margin-right: 20px;
}